<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="stylesheets/style_login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js	"></script>
</head>
<body>
    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 pb-5">
                        <div class="row mb-4"> <img src="images/logo.png" class="logo "> </div>
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 ">
                        <div class="row mb-4 px-3">
                            <h6 class="mb-0 mr-4 mt-2"></h6>
                            <div class=" text-center mr-3">
                                <!-- <div class="fa fa-facebook"></div> -->
                            </div>
                            <div class=" text-center mr-3">
                                <!-- <div class="fa fa-twitter"></div> -->
                            </div>
                            <div class=" text-center mr-3">
                                <!-- <div class="fa fa-linkedin"></div> -->
                            </div>
                        </div>
                        <div class="row px-3 mb-4">
                            <!-- <div class="line"></div> <small class="or text-center">Or</small> -->
                            <!-- <div class="line"></div> -->
                        </div>
                        <form class="form" novalidate="novalidate" id="frm-login">
                        <div class="row px-3 mb-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Email Address</h6></label> 
                                <input type="email" name="email" id="email" placeholder="Enter Email" value="harshal.faldu103396@marwadiuniversity.ac.in">    
                            </div>
                        <div class="row px-3">
                             <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6>
                            </label> <input type="password" name="password" id="password" placeholder="Enter Password" value="harshal"> </div>
                            <div class="row px-3 mb-4">
                        </div>
                        <div class="row mb-3 px-3"> <button type="button" name="submit" class="btn btn-blue text-center login">Login</button> </div>
                    </form>
                    <div class="row mb-3 px-3"><a type="button" class="register" href="http://localhost:3000/register" class="btn btn-blue text-center">New Users</a> </div>
                    </div>
                </div>
            </div>
            <div class="bg-blue py-4 text-center">
                <div class="row px-3 "> <small class=" ml-4 ml-sm-5">Copyright &copy; 2021 Weboccult Technologies</small>
                    <!-- <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div> -->
                </div>
            </div>
        </div>
    </div>
    <script src="javascripts/api.js"></script>
    <script src="javascripts/login/login-general.js"></script>
</body>
</html>