<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Service</title>
</head>
<body style="text-align: center;margin-top: 15%;">
    <input type="email" name="email" id="email" placeholder="Enter Email ID to send">
    <button id="submit">Send</button>
   <br><br>
    <input type="text" name="msg" id="msg" placeholder="Enter Message to send to Admin">
    <button id="submit_msg">Send</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/api.js"></script>
<script src="/javascripts/send_mail.js"></script>
</html>